src/main/java/org/arnotec/stub/BankWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.arnotec.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.arnotec.org/" name="BankWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.arnotec.org/" schemaLocation="http://localhost:8585/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"></part>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"></part>
</message>
<message name="listAccount">
<part name="parameters" element="tns:listAccount"></part>
</message>
<message name="listAccountResponse">
<part name="parameters" element="tns:listAccountResponse"></part>
</message>
<message name="conversionEuroToFCFA">
<part name="parameters" element="tns:conversionEuroToFCFA"></part>
</message>
<message name="conversionEuroToFCFAResponse">
<part name="parameters" element="tns:conversionEuroToFCFAResponse"></part>
</message>
<portType name="BankWS">
<operation name="getAccount">
<input wsam:Action="http://ws.arnotec.org/BankWS/getAccountRequest" message="tns:getAccount"></input>
<output wsam:Action="http://ws.arnotec.org/BankWS/getAccountResponse" message="tns:getAccountResponse"></output>
</operation>
<operation name="listAccount">
<input wsam:Action="http://ws.arnotec.org/BankWS/listAccountRequest" message="tns:listAccount"></input>
<output wsam:Action="http://ws.arnotec.org/BankWS/listAccountResponse" message="tns:listAccountResponse"></output>
</operation>
<operation name="conversionEuroToFCFA">
<input wsam:Action="http://ws.arnotec.org/BankWS/conversionEuroToFCFARequest" message="tns:conversionEuroToFCFA"></input>
<output wsam:Action="http://ws.arnotec.org/BankWS/conversionEuroToFCFAResponse" message="tns:conversionEuroToFCFAResponse"></output>
</operation>
</portType>
<binding name="BankWSPortBinding" type="tns:BankWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="conversionEuroToFCFA">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BankWSService">
<port name="BankWSPort" binding="tns:BankWSPortBinding">
<soap:address location="http://localhost:8585/"></soap:address>
</port>
</service>
</definitions>